# Parameters, environment, data and other
.vscode/*
data/*
venv/*
Yolov7/work_dir/*
other/*
*.txt
*.csv

# Pycache
__pycache__*
*.pyc

# Temporary file
_.py

# Model checkpoints
*.pt
*.pth

# Tensorboard
*events.out.tfevents*

# Images
*.png
*.jpg

# ultralytics
runs/**
